doctype

html

    include ./includes/head.jade
      
    body
          
        main.app
            
            include ./includes/intro.jade
            include ./includes/about.jade
            include ./includes/showcase-top.jade
            include ./includes/showcase-bottom.jade
            include ./includes/howto.jade
            include ./includes/cta.jade
            include ./includes/footer.jade

            include ./includes/ga.jade
            script(src='https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js')
            script(src='/assets/js/app.js')
