section.about

    .wrapper
    
        h3.about__header What is smoothie ?
    
        article.about_blurb
            
            p
                | 3 wolf moon ugh pug single-origin coffee sriracha. Vice wayfarers poutine, craft beer viral lo-fi chicharrones 3 wolf moon williamsburg kickstarter listicle health goth. Normcore poutine gastropub pinterest.
            p
                | Meditation hammock church-key, selfies sustainable pickled organic lo-fi craft beer salvia readymade. Taxidermy food truck meggings meditation, hashtag four dollar toast
            p
                | swag you probably haven't heard of them squid leggings. Lumbersexual ugh umami hella kombucha. Typewriter four loko biodiesel, cardigan sustainable godard try-hard mixtape.
            
