section.cta

    div.cta-download
    
        h4.heading Get Smoothie
        
        p.cta-blurb 
            | Ready to get smoothed ? Good then give it a try !
        
        a(href="/") Download
    
    
    div.cta-contribute
    
        h4.heading Contribute
        
        p.cta-blurb 
            | Blabla, it's not scss if you feel like something is missing, or perhaps you want to improve it by all means head over to github and initiate a pull request
        
        a(href="/") Contribute !
        
