section.how-to
    
    h3.how-to__header "But how does it even work ?!"
    
    div.how-to__step
        
        h4.step-title Step 1: Import the library in your project
        
        div.how-to__editor
            
            div.progress-bar
            div.code-editor
                @import "path/to/smoothie"
    
    div.how-to__step
        
        h4.step-title Step 2: Add a class to your elements ...
        
        div.how-to__editor
            
            div.progress-bar
            div.code-editor
                | <div class="fadeInUp"></div>
    
    div.how-to__step
        
        h4.step-title Step 3: ... or individually animate them
        
        div.how-to__editor
            
            div.progress-bar
            div.code-editor
                | +animation('fadeInDown 1s linear both')
    
    div.how-to__step
        
        h4.step-title Step 4: Use JavaScript for even more fun
        
        div.how-to__editor
            
            div.progress-bar
            div.code-editor
                | document.querySelector("some-element").classList.add("fadeInUp")
