section.showcase

    figure.showcase__logo
        
        span insert svg here 
        
    div.showcase__buttons
        
        button.showcase__button(data-class="fadeIn") fadeIn
        button.showcase__button(data-class="fadeInDown") fadeInDown
        button.showcase__button(data-class="fadeInLeft") fadeInLeft
        button.showcase__button(data-class="fadeInRight") fadeInRight
        
        button.showcase__button(data-class="fadeInRight") fadeInRight
        button.showcase__button(data-class="shake") Shake
        button.showcase__button(data-class="pulseScale") pulseScale
        button.showcase__button(data-class="fadeInScaleBounce") fadeInScaleBounce
        
        button.showcase__button(data-class="flipTop") flipTop
        button.showcase__button(data-class="spin") spin
        button.showcase__button(data-class="bounceInDown") bounceInDown
        button.showcase__button(data-class="bounceInUp") bounceInUp
    
        button.showcase__button(data-class="bounceInLeft") bounceInLeft
        button.showcase__button(data-class="bounceInRight") bounceInRight
        button.showcase__button(data-class="bounceInScale") bounceInScale
        button.showcase__button(data-class="fadeOut") fadeOut
    
    
        
    
