section.showcase.showcase--bottom

    figure.showcase__logo
        \
        span insert svg here 
        
    div.showcase__buttons
        
        button.showcase__button(data-class="fadeOutUp") fadeOutUp
        button.showcase__button(data-class="fadeOutLeft") fadeOutLeft
        button.showcase__button(data-class="fadeOutRight") fadeOutRight
        button.showcase__button(data-class="fadeOutDown") fadeOutDown
        
        button.showcase__button(data-class="gravitateY") gravitateY
        button.showcase__button(data-class="vanishIn") vanishIn
        button.showcase__button(data-class="vanishOut") vanishOut
        button.showcase__button(data-class="expandRight") expandRight
        
        button.showcase__button(data-class="expandLeft") expandLeft
        button.showcase__button(data-class="expandBounceRight") expandBounceRight
        button.showcase__button(data-class="expandBounceLeft") expandBounceLeft
        button.showcase__button(data-class="expandTop") expandTop
    
        button.showcase__button(data-class="expandBottom") expandBottom
        button.showcase__button(data-class="elastico") elastico
        button.showcase__button(data-class="wobble") wobble
    
        
            
    
    
        
